$breakpoints: (
  'large': (
    min-width: 1440px,
  ),
  'medium': (
    min-width: 1240px,
  ),
  'regular': (
    min-width: 905px,
  ),
  'small': (
    min-width: 600px,
  ),
);

$colors: (
  'background-black': #212121,
  'background-gray': #e2e2e2,
  'background-gray-light': #ededed,
  'background-white': #ffffff,
  'font-white': #ffffff,
);

$size: (
  'header-height': 56px,
);
